.scheduleSection2, .scheduleSection3{height: unset;}
.callendarContentBox, .YearScheduleContentBox{height: unset;}

.shedulePosterList{height: calc(100% - 40px);}
.shedulePosterList li{width: calc(33.3333% - 13.4px); height: 100%; margin-bottom: 0;}
.shedulePosterList li:nth-child(5n){margin-right: 20px;}
.shedulePosterList li:nth-child(3n){margin-right: 0;}
.shedulePosterList li a img{top: 0;}

.ui-datepicker-inline{height: 100%;}
.ui-datepicker-year{position: absolute; top: -80px; right: 0; font-size: 20px; border: none; border-bottom: 1px solid #000; padding: 10px 20px; /* background: url(arr_pink.gif) no-repeat 97% 50%/15px auto;} */}
.ui-datepicker-header{position: relative; margin-bottom: 40px; text-align: center;}
.ui-datepicker-prev{width: 15px; height: 15px; border-bottom: 8px solid transparent; border-top: 8px solid transparent; border-left: 13px solid #68171C; border-right: 13px solid transparent; transform: rotate(180deg); position: absolute; left: 550px; z-index: 2;}
.ui-datepicker-next{width: 15px; height: 15px; border-bottom: 8px solid transparent; border-top: 8px solid transparent; border-left: 13px solid #68171C; border-right: 13px solid transparent; position: absolute; right: 550px; z-index: 2;}
.ui-datepicker-prev span, .ui-datepicker-next span{font-size: 0;}
.ui-datepicker-month{border: none; font-size: 20px; font-weight: bold; position: relative; bottom: 2px;}
.ui-datepicker-calendar{display: flex; flex-direction: column;}
.ui-datepicker-calendar::-webkit-scrollbar {width: 10px;}
.ui-datepicker-calendar::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,.15); border-radius: 5px; background-clip: padding-box; border: 2px solid transparent;}
.nameCarui-datepicker-calendardBox::-webkit-scrollbar-track {background-color: #fff; border-radius: 10px;}
.ui-datepicker-calendar thead{border-bottom: 2px solid #000;}
.ui-datepicker-calendar tr{display: flex;}
.ui-datepicker-calendar tbody tr{border-bottom: 1px solid #fff;}
.ui-datepicker-calendar tbody tr:last-child{border-bottom: none;}
.ui-datepicker-calendar th, .ui-datepicker-calendar td{ width: calc(100% / 7);;}
.ui-datepicker-calendar th{padding: 16px 0; font-size: 16px;}
.ui-datepicker-calendar td{padding: 16px 10px; height: 150px; font-weight: bold; background-color: rgba(0,0,0,.02); border-right: 1px solid #fff;}
.ui-datepicker-calendar td:last-child{border-right: none;}
.ui-datepicker-calendar td > a{font-size: 16px;  width: 100%; text-align: right; display: inline-block; height: 100%;}
.ui-datepicker-calendar td.ui-datepicker-unselectable > span{font-size: 16px;  width: 100%; text-align: right; display: inline-block; color: rgba(0,0,0,.3);}

/* .yearScheduleList{height: calc(100% - 20px);} */
.yearScheduleList{display: flex; flex-wrap: wrap;}
.yearScheduleList li{width: calc((100% / 6) - 18px); height: 190px;}
.yearScheduleList li:nth-child(5n){margin-right: 20px;}
.yearScheduleList li:nth-child(6n){margin-right: 0;}
.yearScheduleList li:nth-last-child(1), .yearScheduleList li:nth-last-child(2), .yearScheduleList li:nth-last-child(3), .yearScheduleList li:nth-last-child(4), .yearScheduleList li:nth-last-child(5), .yearScheduleList li:nth-last-child(6){margin-bottom: 0;}
.yearScheCard{text-align: center; background-color: rgba(0,0,0,.02); width: 100%; height: 100%; font-weight: bold; padding: calc(50% - 16px); margin-bottom: 0; font-size: 16px;}
.yearScheCard.actYear{background-color: #68171C; color: #fff;}
.yearScheduleList li{position: relative; top: unset; left: unset;}
.yearScheduleList li.actyearList{position: absolute; top: 0; left: 0; z-index: 2;}
.yearMonthlyList{display: none;}
.monthList{display: none;}
.monthList.actyearList{display: block; padding: 20px; border-top: 1px solid #68171C; border-bottom: 1px solid #68171C;}
