/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600;900&display=swap");

html,body {width:100%; height:100%; min-width: 1900px; position: relative;}
p, span, h1, h2, h3, h4, strong{letter-spacing: -1px;}

/* header */
header{width: 100%; min-width: 1900px; padding: 0 10%; background-color: #68171C; display: flex; justify-content: space-between; position: fixed; z-index: 2;}
header > div {display: inline-block;}
.logoBox{width: 200px; padding: 25px 20px 25px 0}
.logoBox img{width: auto; height: 40px;}
.menuBox{width: calc(100% - 400px); padding: 0 40px;}
.menuBox ul{display: flex; justify-content: space-between; padding: 0 20px;}
.menuBox li{display: inline-block;}
.menuBox li a{text-align: center; color: #fff; }
.menuBtn{font-weight: bold; font-size: 16px; padding: 40px 20px; position: relative;}
.menuBtn:before{content: ''; position: absolute; bottom: 20px; left: 0; width: 0; height: 5px; background-color: #fff; transition: .4s;}
.menuBtn.activeMenu:before{width: 100%; transition: .4s;}
.menuBox li dd{display: none; position: absolute; z-index: 3; width: 100%; padding: 0 300px; left: 0;}
.menuBox li dd.submenuBlk{display: flex;}
.menuBox li dd .menuTitle{width: 200px; display: inline-block; font-size: 24px; font-weight: 500; color: #fff; padding: 20px 0; vertical-align: top; line-height: 1.4;}
.menuBox li dd .menusubBox{display: inline-block; width: calc(100% - 200px);}
.menusubBox .menusubBtn{display: inline-block; width: calc((100% / 3) - 5px); font-size: 14px; padding: 20px 0;}
.menusubBox .menusubBtn.subHover{background-color: #864549;}
.loginlangBox{}
.loginlangBox a{display: inline-block; padding: 40px 20px; text-align: center; color: #fff; font-size: 16px;}
.headerBg{position: absolute; top: 96px; left: 0; display: none; z-index: 2; width: 100%; height: 162px; background: #68171C;}
.headerBg.on{display: block;}
/* .fake_top{position: relative; width: 100%; height: 96px; top: 41px; left: 0;} */

/* main */
main{position: relative; /*top: 96px;*/ }
/* main > div{height: 100vh; min-height: 100vh; width: 100%; min-width: 1920px;} */
.contentSection{width: 100%; height: 100%; min-height: 937px; padding: 200px 320px 100px;}

/* footer */
footer{position: absolute; top: 160px; left: 100px; z-index: 2; width: 165px;}
footer > div{margin-bottom: 16px;}
footer p{font-size: 12px; line-height: 1.4;}
footer strong{font-weight: bold; font-size: 12px; line-height: 1.4; color: #68171C;}
.fbtneBox{width: 30px; height: 30px; margin-bottom: 40px;}
.fbtneBox a{width: 100%; height: 100%; border: 2px solid #000; position: relative; border-radius: 30px;}
.fopenBtn:before{content: 'info'; font-size: 12;}
.fcloseBtn:before{content: ''; position: absolute; width: 20px; height: 1px; background-color: #000; top: 12px; left: 3px; transform: rotate(45deg);}
.fcloseBtn:after{content: ''; position: absolute; width: 20px; height: 1px; background-color: #000; top: 12px; left: 3px; transform: rotate(-45deg);}
.fcontentBox{display: none;}
.fcontentBox.on{display: block;}
.fcontentBox img{width: auto; height: 20px; margin-bottom: 8px;}
.flogoList, .fsponserList{margin-bottom: 16px;} 
.fsponserList{margin-top: 8px;}
.flogoList li:last-child img, .fsponserList li:last-child img{margin-bottom: 0;}
.fadressBox p{margin-bottom: 8px;}
.privacyBtn{font-size: 12px; font-weight: bold; text-decoration: underline;}